
body {
	background-color: grey;
}

#canvasDiv {
	width:800px;
	height:540px;
	padding:10px;
	margin-left:-450px;
	margin-top:-275px;
	overflow:hidden;
    position: absolute;
    top: 50%;
    left: 50%;
}

#myGame {
	display: block;
}




